:root {
    --font: sans-serif;
}

h1 {
	color: black;
	text-align: center;
	font-family: var(--font);
}

h4 {
	color: black;
	text-align: center;
	font-family: var(--font);
}

p {
    color: black;
    font-family: var(--font);
}

.button1 {
    background-color: red;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display:block;
	margin:auto;
}