<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dissertation Validator</title>
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
    <h1>Electronic Dissertation Validator</h1>
    <h4>Zero Feature Release</h4>
    <button class="button button1" onclick="window.location.href='{{url_for('documentation')}}';">Documentation</button>
    <form method="POST" action = "\result" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type = "submit" value="Submit">
    </form>
    <p><a href="http://www.montana.edu">School Site</a></p>
</body>
</html>